* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
}

.img-logo {
    height: 70px;
    background-width: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body {

    font-family: "Raleway", sans-serif;
    background-color: #000000;
}

.header .navbar {
    background-color: transparent !important;
    position: fixed;
}

header {
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    position: fixed;
    z-index: 100;
}

.col {
    width: 25%;
}

.card {
    background-color: black;
}

.row {
    background-color: black;
}

.card-footer {
    background-color: aqua;
}

.card-body {
    background-color: aqua;
}

.row-cold-1 {
    background-color: aqua;
}

.fa-brands {
    width: 30px;
}

.quines-somos {
    background-color: #000000;
}

.destacados {
    background-color: black;

}

.destacado1 {
    background-image: url("../img/card1.jpg");
}

.destacado2 {
    background-image: url("../img/card2.jpg");
}

.destacado3 {
    background-image: url("../img/card3.jpg");
}

.destacado4 {
    background-image: url("../img/card4.jpg");
}

.mis-destacados {
    height: 150px;
    background-width: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

